html:hover {
    background-color: rgb(226, 195, 255);
}

div.container {
    padding:1.5em;
    width: 92vw;
    height: 90vh;
    border: 3px dashed #c3c3c3;
    display: flex;
    flex-direction: row;
}

div.container:hover {
    background-color: rgb(255, 209, 209);
}

div.col1 {
    flex-direction: column;
    border: 3px dashed #c3c3c3;
    display: flex;
 }

div.inner1 {
    width: 22vw;
    height: 25vh;
    border: 1px solid purple;

}

a.ain-inner-container {
    font-size:10px;
}

.inner-container {
    text-align:center;
}

.hovercl:hover {
    background-color: aquamarine;
}


.inner-contained-1 {
    display:inline;
	float: left;

}

/* second bit */
.inner-contained-2 {
    display:inline;
    display:inline;
    text-align:right;
    margin-left: auto; 
    margin-right: 0;
    float: right;
}

div.inner2 {
    width: 22vw;
    height: 25vh;
    border: 1px solid blue;

}

div.inner3 {
    width: 22vw;
    height: 25vh;
    border: 1px solid red;

}

div.inner4 {
    width: 22vw;
    height: 25vh;
    border: 1px solid red;

}


div.col2 {
    flex-direction: column;
    border: 3px dashed #c3c3c3;
    display: flex;
 }

 div.inner1c2 {
    width: 22vw;
    height: 25vh;
    border: 1px solid purple;

}

div.inner2c2 {
    width: 22vw;
    height: 25vh;
    border: 1px solid blue;

}

div.inner3c2 {
    width: 22vw;
    height: 25vh;
    border: 1px solid red;

}

div.inner4c2 {
    width: 22vw;
    height: 25vh;
    border: 1px solid red;

}


 div.col3 {
    flex-direction: column;
    border: 3px dashed #c3c3c3;
    display: flex;
 }

 div.inner1c3 {
    width: 22vw;
    height: 25vh;
    border: 1px solid purple;

}

div.inner2c3 {
    width: 22vw;
    height: 25vh;
    border: 1px solid blue;

}

div.inner3c3 {
    width: 22vw;
    height: 25vh;
    border: 1px solid red;

}

div.inner4c3 {
    width: 22vw;
    height: 25vh;
    border: 1px solid red;

}

/* col4 */
div.col4 {
    flex-direction: column;
    border: 3px dashed #c3c3c3;
    display: flex;
 }

 div.inner1c4 {
    width: 22vw;
    height: 25vh;
    border: 1px solid purple;

}

div.inner2c4 {
    width: 22vw;
    height: 25vh;
    border: 1px solid blue;

}

div.inner3c4 {
    width: 22vw;
    height: 25vh;
    border: 1px solid red;

}

div.inner4c4 {
    width: 22vw;
    height: 25vh;
    border: 1px solid red;

}